canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
}

body {
    margin : 0px;
    padding: 30px;
    font-family: "Mukta";
    overflow: hidden;
    background-color: #313131;
}

.penTools .color-field{
    height: 40px;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
    margin: 0 10px;
}

.drawTools .button {
    align-self: center;
    width: 75px;
    height: 40px;
    border:2px solid white;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    margin: 0 10px;
}

.functionButton .button{
    align-self: center;
    width: 75px;
    height: 40px;
    border:2px solid white;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    margin: 0 10px;
}

.color-picker{
    align-self: center;
    margin: 0 15px;
    height: 50px;
}

.pen-range{
    align-self: center;
    margin: 0 15px;
}